*.tmp
.DS_Store
logs
log
npm-debug.log*
*.swp
output
node_modules
.idea
fecs.*

public
public/*
outputProjects

doc/git/*
doc/tmp/*

client/node_modules
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

