$colorWhite = #fff
$colorWhiteDark = #fbfbfb
$colorGreyTrace = #eee
$colorGreyTiny = #ccc
$colorGreyLight = #999
$colorGrey = #666
$colorGreyDark = #555
$colorBlackBlue = #37474f
$colorBlackLight = #263a3f
$colorBlack = #263238
$colorBlackDark = #000
$colorBlueTiny = rgba(33, 150, 243, .1)
$colorBlueTrace = rgba(33, 150, 243, .55)
$colorBlueLight = #039be5
$colorBlue = #1976d2
$colorBlueDark = #035a9b
$colorBluePure = #00f
$black = #000
$colorRed = #f44336
$colorOrange = #ff9800

$borderColor = rgba(0, 0, 0, .12)

// $colorPrimaryBlue = rgb(40, 116, 240)
$colorPrimaryBlue = #1976d2
// $colorPrimaryBlue = #0c6693
$colorFooterDark = #263238
$colorPrimaryRed = #e8345a
$coloePrimaryGreen = #4caf50