.wd-lg-show
    display none
.wd-md-show
    display none
.wd-sm-show
    display none
.wd-xs-show
    display none

@media (min-width: 1200px)
    .wd-lg-show
        display block

@media (min-width: 992px) and (max-width: 1199px)
    .wd-md-show
        display block

@media (min-width: 768px) and (max-width: 991px)
    .wd-sm-show
        display block

@media (max-width: 767px)
    .wd-xs-show
        display block
