$colorWhite = #fff
$colorWhiteDark = #fbfbfb
$colorGreyTrace = #eee
$colorGreyTiny = #ccc
$colorGreyLight = #999
$colorGrey = #666
$colorGreyDark = #555
$colorBlackLight = #263a3f
$colorBlack = #263238
$colorBlackDark = #000
$colorBlueTiny = rgba(33, 150, 243, .1)
$colorBlueTrace = rgba(33, 150, 243, .55)
$colorBlue = #0564a3
$colorBlueDark = #035a9b
$colorBluePure = #00f
$black = #000
$colorRed = #f44336
$colorOrange = #ff9800

$borderColor = rgba(0, 0, 0, .12)

$colorPrimaryBlue = rgb(40, 116, 240)
// $colorPrimaryBlue = #2196f3
$colorFooterDark = #263238
$colorPrimaryRed = #e8345a
$coloePrimaryGreen = #4caf50